<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h1>This is About Page</h1>
    <!-- using fragment -->
     <div class="host-tag" th:replace="${isLogin}  ? ~{base :: parent(~{::section})} : ~{base:: test}">
        <section>
            <h1>User is logged in</h1>
            <h2>Dynamic Content</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos qui quam architecto maiores, harum quia tempora quidem fuga distinctio fugit?</p>
            <button>Click on Dynamic Content</button>
        </section>
     </div>
</body>
</html>