<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: white;
        }
    </style>
</head>
<body>
   <div class="container">
    <h1>Welcome to Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti maiores, possimus neque veritatis perferendis vel magnam? Nam eaque, voluptas earum, vel error deleniti excepturi quasi inventore ex veniam pariatur quam dolores incidunt illo blanditiis molestiae praesentium cum reiciendis est magni corrupti magnam vitae quia! Id beatae a fuga aut quos qui, accusamus molestias unde maxime eligendi voluptates provident, quaerat officiis! Minus, velit accusamus omnis tempore incidunt ipsum sed, accusantium autem reiciendis vel sint, reprehenderit quis minima. Facilis provident temporibus sit veritatis odio exercitationem corporis eius quae assumenda, sed alias aliquam ad voluptatem optio sint molestias, quam iure. Repudiandae at, optio corrupti neque voluptatem possimus veritatis modi quia eos? Suscipit, dolorem aperiam sint obcaecati possimus incidunt officia nulla delectus saepe cumque.</p>
</body>
</html>